<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CleverTap Integration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CleverTap</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to test CleverTap integration?</strong>
    <p>Use the buttons below to test functionality:</p>
    <ion-button expand="full" color="primary" (click)="onUserLogin()">
      Log User Profile
    </ion-button>
    <ion-button expand="full" color="secondary" (click)="recordEvent()">
      Record Custom Event
    </ion-button>
    <ion-button expand="full" color="tertiary" (click)="recordSimpleEvent()">
      Record Simple Event
    </ion-button>
  </div>
</ion-content>
